<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователях магазина</title>
</head>
<body>
<form th:action="@{/admin}">
  <button type="submit">Назад</button>
</form>

<h2>Список зарегистрированных пользователей книжного магазина "Время читать"</h2>
<div th:each="person : ${users}">
  <h3 th:text="'Пользователь № ' + ${person.getId()}"></h3>
  <p th:text="'Login: ' + ${person.getLogin()}"></p>
  <p th:text="'Роль: ' + ${person.getRole()}"></p>
    <a th:href="@{/admin/users/edit/{id}(id=${person.getId()})}">Редактировать</a>
  <hr>
</div>
</body>
</html>